.body__content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: inherit;
  padding: 0 2rem;
  gap: 6rem;
  background-color: var(--second-bg-color);
}

.body__content .body__logo img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  object-fit: cover;
}

.body__content .body__logo {
  text-align: center;
  flex-basis: 30%;
}

.body__content .body__description {
  flex-basis: 50%;
}

.body__content .body__description h2 {
  font-size: 5rem;
  font-weight: 700;
}

.body__content .body__description p {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: justify;
}

@media screen and (max-width: 480px) {
  .body__content .body__logo img {
    width: 15rem;
    height: 15rem;
  }

  .body__content .body__description h2 {
    font-size: 3rem;
  }

  .body__content .body__description p {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 667px) {
  .body__content .body__description h2 {
    text-align: center;
  }

  .body__content {
    flex-direction: column;
    gap: 2rem;
  }
}

@media screen and (min-width: 1400px) {
  .body__content .body__logo img {
    width: 40rem;
    height: 40rem;
  }

  .body__content .body__description h2 {
    font-size: 6rem;
  }

  .body__content .body__description p {
    font-size: 3rem;
  }
}

.body__skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  background-color: var(--bg-color-main);
  min-height: inherit;
  gap: 2rem;
}

.body__skill h2 {
  width: 100%;
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
}

@media screen and (max-width: 480px) {
  .body__skill h2 {
    margin-top: initial;
    font-size: 3rem;
  }
}

.body__project {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: inherit;
  text-align: center;
  background-color: var(--second-bg-color);
  padding: 2rem;
  gap: 1.5rem;
}

.body__project h2 {
  width: 100%;
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  padding-top: 2rem;
}

.body__project .card-text {
  text-align: justify;
  line-height: 1.2;
}

.card__container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  min-height: 40rem;
  gap: 2rem;
}

.body__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: inherit;
  background-color: var(--bg-color-main);
}

.body__contact h2 {
  width: 100%;
  text-align: center;
  font-size: 5rem;
  padding: 2rem;
}

.form__content {
  background-color: #fff;
  border-radius: 1rem;
  margin: 1.5rem;
  color: #000;
  font-weight: 700;
}

.form .form__content .row {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1rem 2rem;
  margin: 0;
}

.form .form__content .row textarea {
  resize: none;
}

.form__content input,
.form__content textarea {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--text-color);
  background-color: var(--second-bg-color);
  border-radius: 0.8rem;
}

@media screen and (max-width: 360px) {
  .body__contact h2 {
    font-size: 3rem;
  }

  .form__content label {
    font-size: 1.2rem;
  }

  .form__content input,
  .form__content textarea {
    font-size: 0.9rem;
  }
}

.form__content input::placeholder,
.form__content textarea::placeholder {
  color: inherit;
  font-size: 1.1rem;
}

.form__content input:focus,
.form__content textarea:focus {
  background-color: rgb(232, 240, 254);
  color: black;
}

.form__content input[type="submit"] {
  width: auto;
  min-width: 15%;
  padding: 0.8rem;
  border-radius: 2rem;
  background-color: var(--third-bg-color);
  font-weight: 500;
  color: rgb(4, 18, 63);
}

.form__content input[type="submit"]:hover {
  box-shadow: 0 0 0.5rem var(--third-bg-color);
}

@media screen and (max-width: 360px) {
  .body__project h2 {
    margin-top: initial;
    font-size: 3rem;
  }

  .form__content input::placeholder,
  .form__content textarea::placeholder {
    font-size: 0.8rem;
  }
}
